@font-face {
  @include font-weight(400);
  font-family: Inter;
  src: url("../../fonts/Inter-Regular.ttf");
}
@font-face {
  @include font-weight(500);
  font-family: Inter;
  src: url("../../fonts/Inter-Medium.ttf");
}
@font-face {
  @include font-weight(600);
  font-family: Inter;
  src: url("../../fonts/Inter-SemiBold.ttf");
}
@font-face {
  @include font-weight(700);
  font-family: Inter;
  src: url("../../fonts/Inter-Bold.ttf");
}

body {
  font-family: Inter;
  line-height: 1.5;
}

h1, h2 {
  @include font-options(60px, 700);
  line-height: 72px;
  letter-spacing: -0.02em;

  @media (max-width: 1023px) {
    font-size: 48px;
    line-height: 1;
  }
}
h3 {
  @include font-options(20px, 600);
  line-height: 1.4;
}
p {
  font-size: 16px;
}

@media (max-width: 767px) {
  .content-container:not(#skills) {
    h1, h2 {
      @include font-options(36px, 600);
      line-height: 40px;
    }
  }
}

.button {
  &--hero {
    @include font-options(20px, 600);
    line-height: 1.4;

    @media (max-width: 1023px) {
      @include font-options(18px, 400);
      line-height: 28px;
    }
    @media (max-width: 767px) {
      @include font-options(20px, 600);
    }
  }
  &--contact {
    @include font-options(16px, 500);
  }
}

.contacts__email, .contacts__number {
  @include font-options(36px, 600);
  line-height: 40px;

  @media (max-width: 1023px) {
    @include font-options(18px, 600);
    line-height: 28px;
  }
}

.fs {
  &-14 {
    @include font-size(14px);
  }
  &-16 {
    @include font-size(16px);
  }
  &-18 {
    @include font-size(18px);
  }
  &-20 {
    @include font-size(20px);
  }
  &-24 {
    @include font-size(24px);
  }
}

.fw {
  &-400 {
    @include font-weight(400);
  }
  &-500 {
    @include font-weight(400);
  }
  &-600 {
    @include font-weight(400);
  }
  &-700 {
    @include font-weight(400);
  }
}