h3 {
  color: $color-gray-900;
}
p {
  color: $color-gray-600;
}

.content-container {
  padding: 96px 80px;

  @media (max-width: 1023px) {
    padding: 64px;
  }
  @media (max-width: 767px) {
    padding: 32px 16px;
  }

  &#header {
    padding: 16px 80px;

    @media (max-width: 767px) {
      padding: 16px;
    }
  }
  &#hero {
    padding: 96px 80px 120px;

    @media (max-width: 1023px) {
      padding: 64px 64px 120px;
    }
    @media (max-width: 767px) {
      padding: 32px 16px 120px;
    }
  }
  
  .content {
    margin: 0 auto;
    max-width: 1280px;
  }

  @media (max-width: 767px) {
    &#contact, &#footer {
      .content {
        gap: 24px;
      }
    }
  }
}

.content-container:not(#header, #hero) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    .content__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      h2 {
        text-align: center;
      }

      p {
        max-width: 576px;

        text-align: center;
        font-size: 20px;
        line-height: 1.4;

        @media (max-width: 1023px) {
          font-size: 18px;
          line-height: 28px;
        }
      }

      &--gray {
        h2 {
          color: $color-gray-600;
        }
      }
      &--orange {
        h2 {
          color: $color-orange-500;
        }
      }
    }
  }
}

.card {
  padding: 32px;

  border-radius: 12px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
  background-color: $color-default;

  &.capybara-project {
    padding: 0;
  }
  &.form {
    padding: 48px;

    @media (max-width: 767px) {
      padding: 24px;
    }
  }
  &--date-middle {
    border-radius: 12px 12px 0 0;
  }
  &--date-junior {
    border-radius: 0;
  }
  &--date-trainee {
    border-radius: 0 0 12px 12px;

    @media (max-width: 767px) {
      box-shadow: none;
    }
  }

  @media (max-width: 767px) {
    &.date-info {
      border-radius: 0 0 12px 12px;
    }
  }
}

.button {
  padding: 8px 48px;

  color: $color-gray-50;
  
  border-radius: 20px;
  background-color: $color-orange-400;

  &--hero {
    @include box-size(345px, 44px);

    @media (max-width: 1023px) and (min-width: 767px) {
      width: 315px;
    }
  }
  &--contact {
    @include box-size(155px, 40px);

    opacity: 0.4;
  }
  &--work, &--header  {
    padding: 6px;
    @include box-size(36px, 36px);

    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &--work {
    background-image: url(../../images/work-button-icon.svg);
  }
  &--header {
    display: none;
    background-image: url(../../images/header-button-icon.svg);

    @media (max-width: 767px) {
      display: block;
    }
  }
}
