#header {
  .content {
    padding: 0 32px;
    
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      padding: 0;
    }

    .navigation {
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        display: none;
      }
    
      .navigation__items {
        display: flex;
    
        .item {
          margin-right: 24px;
          
          color: $color-gray-600;
        }
      }
    }
  }

  .burger-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    @include box-size(100%, 100%);

    display: flex;
    justify-content: flex-end;

    background-color: rgba(17, 24, 39, 0.10);
    backdrop-filter: blur(4px);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &--active {
      visibility: visible;
      opacity: 1;
    }

    .content-burger {
      @include box-size(320px, 667px);

      background-color: $color-default;
      box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);

      transform: translateX(320px);
      transition: transform 0.5s ease;

      &--active {
        transform: translateX(0);
      }

      .content-burger__logo-section {
        padding: 16px;

        display: flex;
        justify-content: space-between;
      }

      .navigation-burger {
        padding: 16px;

        border-top: 1px solid $color-gray-100;
        border-bottom: 1px solid $color-gray-100;

        .navigation-burger__items {
          display: flex;
          flex-direction: column;
          gap: 16px;

          .item {
            color: $color-gray-600;
          }
        }
      }
    }
  }
}