#hero {
  position: relative;

  .content {
    display: grid;
    grid-template-columns: minmax(512px, 768px) auto;
    grid-template-areas: "info   image"
                         "button image";
    justify-content: space-between;
    gap: 48px 32px;

    @media (max-width: 1023px) {
      grid-template-columns: auto minmax(372px, 627px);
      grid-template-areas: "image info"
                           "image button";
      gap: 32px;
    }
    @media (max-width: 767px) {
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "info"
                           "image"
                           "button";
      justify-content: center;
      gap: 16px;
    }
    
    .content__hero-image {
      grid-area: image;

      @media (max-width: 1023px) {
        @include box-size(236px, 265px);
      }
      @media (max-width: 767px) {
        @include box-size(279px, 314px);

        justify-self: center;
      }
    }

    .button {
      grid-area: button;

      justify-self: end;

      @media (max-width: 1023px) {
        justify-self: center; 
      }
    }
  
    .content__info {
      grid-area: info;

      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 8px;

      @media (max-width: 1023px) {
        width: 372px;

        p {
          display: none;
        }
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    
      h1 {
        color: $color-gray-900;

        @media (max-width: 767px) {
          text-align: center;
        }        
      }
    }
  }

  .wave-image {
    position: absolute;
    left: 0;
    bottom: 0;

    @include box-size(100%, 83px);
  }
}